h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    margin-bottom: 0;
  }
  
    
    ul,
    ol {
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;
    list-style-type: none;
    }
    img {
      display: block;
    }
    body {
      font-family: "Roboto", sans-serif;
      background: #FFF;
      color: #434455;
      
    }
   
    a {
      text-decoration: none;
    }
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }
 .container {
      max-width: 320px;
      margin-left: auto;
      margin-right: auto;
      padding: 0 15px;
    }
    /* ============================HEDDER STYLE=========================== */
   


      .header-list {
        display: none;
    }
    .header-contacts {
        display: none;
    }
.logo-web {
   
    color: #4D5AE5;
    font-family: Raleway,sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;

}
.logo-studio {
    color: #2E2F42;
}

@media screen and (max-width: 767px) {

 .mobile-open-menu-icon-btn{
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.page-header {
    padding-bottom: 17px;
    padding-top: 17px;
}
.mobile-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    background-color: #E5E5E5;

    transform: translateX(100%);
    transition: transform 250ms linear;

}
.mobile-menu-wrapper.is-open {
    transform: translateX(0%);
   
}

.mobile-menu-container {
    position: relative;
}
.mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}      
}
   
    /* ================================HEDDER STYLE========================= */
 
@media screen and (min-width: 768px){
    .container {
        max-width: 768px;
      
    }
   .mobile-menu-wrapper {
    display: none;
}
.mobile-open-menu-icon-btn {
    display: none;
} 
.page-header {
   padding-top: 0;
   padding-bottom: 0;
    border-bottom: 1px solid #e7e9fc ;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
  
  }
  .header-container {
    display: flex; 
    align-items: center;
  }
  .header-container-list {
    display: flex;
    align-items: center; 
  }

  .logo-web {
    color: #4D5AE5;
    font-family: Raleway,sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 120px;
  }

  .logo-studio {
color: #2E2F42;
  }
  
  .header-list {
    
display: flex;
gap: 40px;

  }
  .header-list-item-link-color {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    text-decoration: none;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }

.header-list-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

   
    
}
.header-list-item-link-color::after {
    content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100% ;
}
.header-list-item-link-color:hover {
  color: #404bbf;
}


.header-contacts {
    display: flex;
}

    


.header-contacts-list {
  
display: flex;
    flex-direction: column;
    gap: 12px;
margin-left: 121px;

}

.header-contacts-link {
    font-style: normal;
    width: 119px;
    height: 14px;
    flex-shrink: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: #434455;
    text-decoration: none;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
    
.header-contacts-link:hover,
.header-contacts-link:focus {
    color: #404bbf;
}
}
/* =======================================HEDDER STYLE TABLET END===================== */ 

/* ====================================SECTION ONE=================================== */




/* =======================================SECTION ONE================================= */

@media screen and (min-width: 1168px){
    .container {
        max-width: 1158px;
        margin-left: auto;
        margin-right: auto;
        
      
    }
    

/* =====================================HEDDER STYLE DST============================= */
.page-header {
    border-bottom: 1px solid #e7e9fc ;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
  }
  .header-container {
    display: flex; 
  }
  .header-container-list {
    display: flex;
    align-items: center; 
  }

  .logo-web {
    color: #4D5AE5;
    font-family: Raleway,sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
  }

  .logo-studio {
color: #2E2F42;
  }
  
  .header-list {
    font-size: 16px;
font-weight: 500;
line-height: 1.15; 
letter-spacing: 0.02em;
display: flex;
gap: 40px;

  }
  .header-list-item-link-color {
    color: #2e2f42;
    line-height: 1.5;
    padding-top: 24px;
    position: relative;
    padding-bottom: 24px;
    display: block;
     color: #404BBF;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }

.header-list-item-link {
    color: #2e2f42;
    line-height: 1.5;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
   
    
}
.header-list-item-link-color::after {
  content: "";
  
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100% ;
}
.header-list-item-link-color:hover {
  color: #404bbf;
}



    
  /* ===================================address========================= */
  .header-contacts {
    font-style: normal;
    
  }

  .header-contacts-list {
    color: #434455;
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em;
display: flex;
flex-direction: row;
gap: 40px;
margin-left: 322px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


  }
.header-contacts-link {
    color:#434455;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    
    
}
.header-contacts-link:hover,
.header-contacts-link:focus {
    color: #404bbf;
}

}
/* ========================================HEDDER STYLE DST======================== */