/*--------------скидання дифолтних стилів+основні правила----------------*/

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  margin-bottom: 0;
}

  
  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  list-style-type: none;
  }
  img {
    display: block;
  }
  body {
    font-family: "Roboto", sans-serif;
    background: #FFF;
    color: #434455;
    
  }
  .container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
  }
  a {
    text-decoration: none;
  }

  /*=================================== Header================== */
  .page-header {
    border-bottom: 1px solid #e7e9fc ;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
  }
  .header-container {
    display: flex; 
  }
  .header-container-list {
    display: flex;
    align-items: center; 
  }

  .logo-web {
    color: #4D5AE5;
    font-family: Raleway,sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
  }

  .logo-studio {
color: #2E2F42;
  }
  
  .header-list {
    font-size: 16px;
font-weight: 500;
line-height: 1.15; 
letter-spacing: 0.02em;
display: flex;
gap: 40px;

  }
  .header-list-item-link-color {
    color: #2e2f42;
    line-height: 1.5;
    padding-top: 24px;
    position: relative;
    padding-bottom: 24px;
    display: block;
     color: #404BBF;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }

.header-list-item-link {
    color: #2e2f42;
    line-height: 1.5;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
   
    
}
.header-list-item-link-color::after {
  content: "";
  
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100% ;
}
.header-list-item-link-color:hover {
  color: #404bbf;
}



    
  /* ===================================address========================= */
  .header-contacts {
    font-style: normal;
    
  }

  .header-contacts-list {
    color: #434455;
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em;
display: flex;
gap: 40px;
margin-left: 322px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


  }
.header-contacts-link {
    color:#434455;
    padding-top: 24px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    
    
}
.header-contacts-link:hover,
.header-contacts-link:focus {
    color: #404bbf;
}


  /* =====================================Section one============================== */
  .section-one-title {
    color:#FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07; 
    letter-spacing:0.02em;
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
   
  
  }
.section-hero {
    background-color: #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7), 
      rgba(46, 47, 66, 0.7)),
       url(../images/people-office.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    background-position: center; 
    margin-left: auto;
    margin-right: auto;


}


.section-one-order-button {
 color: #FFF;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
background-color:#4D5AE5;
font-family: "Roboto", sans-serif;
display: block;
min-width: 169px;
height: 56px;
border: none; 
border-radius: 4px; 
cursor: pointer;
margin-left: auto;
margin-right: auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-one-order-button:hover,
.section-one-order-button:focus {
background-color: #404BBF;

}
/* =========================Secnion two========================================= */
.section-two-list {
  display: flex;
  gap: 24px;
  
}
.section-two-list-item {
  width: calc((100% - 72px) / 4); 
}
.section-two-title-visually-hidden {
position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.icon-section-two{
 align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  fill: #2e2f42;
  padding: 24px 100px;
  margin-bottom: 8px;
  display: flex;
}

.section-two {
  padding: 120px 0;
}
.icon-section-two {
  
}
.section-two-title {
  color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;



}
.section-two-text {
color: #434455;
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em;


}
.icon-conteiner-section-two {
  display: flex;
  align-items: center; 
  justify-content: center;
  height: 112px; 
  background-color: #f4f4fd; 
  border-radius: 4px;
  margin-bottom: 8px;
}
/* ============================Section three=================================== */

.section-three-list {
  display: flex;
  gap: 24px;
}
.section-three {
    background:  #F4F4FD;
    padding: 120px 0;
}
.section-three-title-our-team{
    color:  #2e2f42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;

}
.container-link {
  padding: 32px 0;
}
.section-three-title {
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
color:#2e2f42;
text-align: center;
margin-bottom: 8px;


}
.section-three-link {
    background-color: #FFFFFF ;
    border-radius: 0px 0px 4px 4px; 
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;

}
.section-three-text {
    color: #434455;
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em;
text-align: center;

}
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 8px;
}
.social-list-item {
  width: 40px;
  height: 40px;
  
}

.icon-social-list-item{
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 50%;
  background-color: #4D5AE5;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}
.icon-social-list-item:hover,
.icon-social-list-item:focus {
  background-color: #404bbf; 

}
.icon-img-social {
  fill: #f4f4fd ;
}

/* ==============================section four======================== */
.section-four-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.section {
  padding: 120px 0;
}
.section-four-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;

}
.container-title {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;  
  border-top: none;
 
}
.section-four {
  color: #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
}
.section-four-title {
  color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
margin-bottom: 8px;
}
.section-four-text {
  color: #434455;
line-height: 1.5;
letter-spacing: 0.02em;
}
.overlay {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #f4f4fd;
}
.section-four-list-item:hover .overlay {
  transform: translateY(0%);

}
.section-four-img {
  position: relative;
  overflow: hidden;
}
.section-four-list-item:hover {
  box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
/* ========================footer=========================== */
.footer {
  background:#2E2F42;
  padding: 100px 0;
}
.logo-web-footer {
  color: #4D5AE5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
display: inline-block; 
margin-bottom: 16px;

}

.container-footer {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: baseline;

}
.container-footer-logo {
  margin-right: 120px;
}
.logo-studio-footer {
  color:  #F4F4FD;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;

}
.footer-text {
  color:  #F4F4FD;
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em;
max-width: 264px;
}






.footer-par {

font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 16px; 




}
.footer-par-list {
  display: flex; 
  gap: 16px; 
  
}
.footer-par-list-menu {
  width: 40px; 
  height: 40px; 

}
.footer-par-list-link {
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 50%;
  background-color: #4D5AE5;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  
  
  

}
.footer-par-list-link:hover,
.footer-par-list-link:focus {
  background-color: #31d0aa; 
}

.footer-img-icon {
  fill:  #f4f4fd;
}

/*=================================BACKDROP=================================*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: rgba(46, 47, 66, 0.4);
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}


.backdrop.is-open {
opacity: 1;
  visibility: visible;
  pointer-events: auto;
 
}


/*==================================MODEL====================================*/
.model {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(46, 47, 66, 0.4);
  
  transform: translate(-50%,-50%);
  width: 408px;
min-height: 584px;
background: #fcfcfc;
border-radius: 4px;
padding: 72px 24px 24px 24px; 
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.model-close-btn {
  display: flex;
  align-items: center; 
  justify-content: center;
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
border-radius: 50%;
width: 24px;
height: 24px;
background-color: #e7e9fc;
fill: #2e2f42;
border: 1px solid rgba(0, 0, 0, 0.1);
padding: 0;
border-radius: 50%;
line-height: 0;
cursor: pointer; 
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.model-close-btn-icon{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
 
}

.model-close-btn:hover,
.model-close-btn:focus {
 background-color: #404BBF;
 fill: #FFFFFF;
 border: none;
}
.reviw-form-description {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 16px;
text-align: center;
}
.reviw-form-field-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: 0px solid transparent;
 padding-left: 38px ;
 transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
 
}
.reviw-form-field-input:focus {
   border-color: #4D5AE5;
   fill: #2E2F42;

}
.reviw-form-field-wrapper {
  margin-bottom: 8px;
  
}
.comment {
  margin-bottom: 16px;
}
.reviw-form-input-wrapper {
  position: relative;
  
 
}
.reviw-form-field-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.reviw-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2E2F42;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}

 
.reviw-form-field-input:focus +.reviw-form-input-icon {
  fill: #4D5AE5;
}

.reviw-form-field-comment {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
height: 120px;
padding: 8px 16px; 
resize: none;
outline: 0px solid transparent;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
background-color: transparent; 
color: rgba(46, 47, 66, 0.4); 
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reviw-form-field-comment:focus {
  border-color: #4D5AE5;
}

.reviw-form-field-comment::placeholder {
  color: #8e8f99;
}
.reviw-form-own-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
border-radius: 2px;
cursor: pointer;
margin-right: 12px;
border: 1px solid rgba(46, 47, 66, 0.4); 
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
fill: transparent;
}

.reviw-form-checkbox:checked + .reviw-checkbox-label > .reviw-form-own-checkbox {
  
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD;

}
.reviw-form-checkbox:focus + .reviw-checkbox-label > .reviw-form-own-checkbox {
  outline: 2px solid rgba(0, 0, 255, 0.5);
}
.reviw-form-own-checkbox-icon {
  fill: #FFFFFF;
  opacity: 0;
}
.reviw-form-checkbox:checked + .reviw-checkbox-label .reviw-form-own-checkbox-icon {
  opacity: 1;
}
.reviw-form-checkbox-wrapper {
  margin-bottom: 24px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.reviw-send {
  color: #4d5ae5;
  text-decoration: underline;
  line-height: 1.3;
}
.reviw-checkbox-label {

font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}


.reviw-form-button {
  display: block;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
border: none;
margin-left: auto;
margin-right: auto;
border-radius: 4px;
padding: 16px 32px;
min-width: 169px;
width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
cursor: pointer;
}

/* ======================================================================================= */
.footer-container-subs {
display: flex;
margin-left: 80px;
flex-direction: column;

}
.footer-container-subs-text {
  margin-bottom: 16px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
}
.footer-container-login-form {
  display: flex;
  gap: 24px;

}
.footer-label-input {
  width: 264px;
  height: 40px; 
  border: 1px solid #ffffff; 
  background-color: transparent; 
font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
padding-left: 16px; 
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: #ffffff;
}
.footer-botton {
  min-width: 165px;
  height: 40px; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
cursor: pointer;
background-color: #4D5AE5;
border: none; 
border-radius: 4px; 
fill: #FFFFFF;
}
.icon-subscribe-footer {
  margin-left: 16px;

}
.footer-botton:hover,
.footer-botton:focus {
background-color: #404BBF;
}